<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/pxu/mybatis/many2many/mapper/ArticleMapper.xml" />
        <mapper resource="com/pxu/mybatis/many2many/mapper/OrderMapper.xml" />
        <mapper resource="com/pxu/mybatis/many2many/mapper/UserMapper.xml" />
        <!--<mapper resource="com/pxu/mybatis/one2one/mapper/CardMapper.xml"/>-->
        <!--<mapper resource="com/pxu/mybatis/one2one/mapper/PersonMapper.xml"/>-->
    </mappers>
</configuration>